<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css" />
    <title>about</title>
</head>

<body>
    <div id="div_home">
        <div id="div_home_left">
            <div id="table">
                <table>
                    <tr>
                        <td class="table_entry">
                            <a href="/index.html">
                                Home
                            </a>
                        </td>
                        <td class="table_entry">
                            <a href="/components/about.html">
                                About
                            </a>
                        </td>
                        <td class="table_entry">
                            <a href="/components/contact.html">
                                Contact
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="about">
                <h1>Fake News Detector</h1>
                <h2>Introduction</h2>
                <p>In the age of internet where information is shareable to the rest of the world with some few clicks,
                    there is
                    no solid way to determine the authenticity of some shared news. Some people take advantage of these
                    facts to
                    spread fake news ensuing chaos among the masses. This problem can be solved by leveraging the
                    current
                    advancements in ML technologies to detect pattern among news articles and the abundance of data that
                    is
                    present everywhere to create an application. This application would cater to the needs of general
                    public on
                    the fly without compromising much on the reliability. Introduction of such an application will help
                    people
                    to curb fake news and stop its propagation at the ground level. It will also help us to create
                    awareness
                    about the seriousness of this issue .
                </p>
                <h2>Necessity</h2>
                <p>
                    Although this issue has been around for quite some time now but the real magnitude of the threat it
                    poses
                    came under spotlight only in recent 3 to 4 years:
                </p>
                <ul>
                    <li>
                        In the United States, disinformation scandals marred the presidential election in 2016, and
                        questions
                        about
                        what role disinformation played in the election of Donald Trump reverberate today. Based on some
                        clear
                        evidence that a Kremlin-linked organization, Internet Research Agency, spent hundreds of
                        thousands of
                        dollars to fuel toxic political discourse, before and after the election. The current Indian
                        elections
                        also
                        face the same challenges as almost 1 in every 2 people receive fake news of some sort from
                        digital
                        platforms.
                    </li>
                    <li>
                        In the past year, there has been a rise in the cases of mob lynchings across India. The victims
                        in such
                        cases are mainly normal people attacked by mobs fuelled by different rumors over whatsapp,
                        facebook.
                    </li>
                    <li>
                        A major problem is that people directly believe whatever they read on social media. They hardly
                        give it
                        a
                        second thought and even more rarely they go for fact checking.
                    </li>
                    <li>
                        Even the large tech giants like google and facebook are facing a hard time controlling this
                        issue
                        without
                        compromising on users’ freedom of speech and privacy. Also, in many countries these companies
                        are ruled
                        out
                        as one of the perpetrators for their inability to curb fake news on their platform.
                    </li>
                </ul>
            </div>
        </div>
        <div id="div_home_right">
            <img src="../images/home.jpg" id="img_home" />
        </div>
    </div>
</body>

</html>