<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css" />
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <title>contact</title>
</head>

<body>
    <div id="div_home">
        <div id="div_home_left">
            <div id="table">
                <table>
                    <tr>
                        <td class="table_entry">
                            <a href="/index.html">
                                Home
                            </a>
                        </td>
                        <td class="table_entry">
                            <a href="/components/about.html">
                                About
                            </a>
                        </td>
                        <td class="table_entry">
                            <a href="/components/contact.html">
                                Contact
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="contact">
                <h1>Created By</h1>
                <div id="linkedin">
                    <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US"
                        data-type="horizontal" data-theme="dark" data-vanity="aniket10k"><a class="LI-simple-link"
                            href='https://in.linkedin.com/in/aniket10k?trk=profile-badge'>Aniket Kulkarni</a></div>
                    <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US"
                        data-type="horizontal" data-theme="dark" data-vanity="ashutosh-gajre"><a class="LI-simple-link"
                            href='https://in.linkedin.com/in/ashutosh-gajre?trk=profile-badge'>Ashutosh Gajre</a></div>
                    <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US"
                        data-type="horizontal" data-theme="dark" data-vanity="prathmesh-bhadekar-611525129"><a
                            class="LI-simple-link"
                            href='https://in.linkedin.com/in/aprathmesh-bhadekar-611525129?trk=profile-badge'>Prathmesh
                            Bhadekar</a></div>
                </div>
            </div>
        </div>
        
        </div>
    </div>
</body>

</html>